# Module 22 Challenge
## Home Sales Data

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=9929c116ee7b50534ca17a840d69d3fbfa0eaa8245a365a022f89fecdc719839
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [3]:
!pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [17]:
# Import findspark and initialize.
import findspark
findspark.init()

Here is the description of how It works and how I understand.
1. **Import necessary libraries:**
   - I import the `os` library to interact with the operating system.

2. **Set the Spark version:**
   - I find the latest version of Spark 3.x from the Apache website.
   - I then set the Spark version to `spark-3.4.0` and store it in the environment variable `SPARK_VERSION`.

3. **Install Spark and Java:**
   - I update the package lists using `apt-get update`.
   - I install Java Development Kit (JDK) version 11, which is required to run Spark.
   - I download the specified version of Spark from the Apache website using `wget`.
   - I extract the downloaded Spark files using `tar`.
   - I install the `findspark` Python package, which helps me to easily use Spark in Python.

4. **Set environment variables for Java and Spark:**
   - I set the `JAVA_HOME` environment variable to the path where Java 11 is installed.
   - I set the `SPARK_HOME` environment variable to the path where the downloaded and extracted Spark files are located.

5. **Initialize SparkSession:**
   - I import `findspark` to make sure that the system can find the Spark installation.
   - I use `findspark.init()` to initialize the Spark environment, allowing me to create a SparkSession in Python.

In [15]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.4.0'
spark_version = 'spark-3.4.0'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:2 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:3 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Hit:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Ign:7 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:8 https://r2u.stat.illinois.edu/ubuntu jammy Release
Hit:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [921 kB]
Hit:11 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:12 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:13 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,152 kB]
Get:14 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [2,841 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,422 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/multiverse amd64 Packages [51.8 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [2,954 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,441 kB]
Fetched 13.0 MB in 2s (6,584 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
tar: spark-3.4.0-bin-hadoop3.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now

In [18]:
!apt-get install openjdk-11-jdk
!wget -q http://apache.mirrors.tds.net/spark/spark-3.4.0/spark-3.4.0-bin-hadoop3.tgz
!tar xf spark-3.4.0-bin-hadoop3.tgz
!pip install findspark

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java libatk-wrapper-java-jni libfontenc1
  libice-dev libsm-dev libxkbfile1 libxt-dev libxtst6 libxxf86dga1 openjdk-11-jre x11-utils
Suggested packages:
  libice-doc libsm-doc libxt-doc openjdk-11-demo openjdk-11-source visualvm mesa-utils
The following NEW packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java libatk-wrapper-java-jni libfontenc1
  libice-dev libsm-dev libxkbfile1 libxt-dev libxtst6 libxxf86dga1 openjdk-11-jdk openjdk-11-jre
  x11-utils
0 upgraded, 14 newly installed, 0 to remove and 45 not upgraded.
Need to get 5,517 kB of archives.
After this operation, 15.8 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/main amd64 fonts-dejavu-core all 2.37-2build1 [1,041 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 fonts-dejavu-extra all 2.37-2build1 [2,041 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfontenc1 amd64 1:1.1.4-1build3 [14.7 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxkbfile1 amd64 1:1.1.0-1build3 [71.8 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxtst6 amd64 2:1.2.3-1build4 [13.4 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxxf86dga1 amd64 2:1.1.5-0ubuntu3 [12.6 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 x11-utils amd64 7.7+5build2 [206 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 libatk-wrapper-java all 0.38.0-5build1 [53.1 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 libatk-wrapper-java-jni amd64 0.38.0-5build1 [49.0 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libice-dev amd64 2:1.0.10-1build2 [51.4 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libsm-dev amd64 2:1.2.3-1build2 [18.1 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxt-dev amd64 1:1.2.1-1 [396 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 openjdk-11-jre amd64 11.0.24+8-1ubuntu3~22.04 [214 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 openjdk-11-jdk amd64 11.0.24+8-1ubuntu3~22.04 [1,336 kB]
Fetched 5,517 kB in 0s (13.0 MB/s)
Selecting previously unselected package fonts-dejavu-core.
(Reading database ... 123594 files and directories currently installed.)
Preparing to unpack .../00-fonts-dejavu-core_2.37-2build1_all.deb ...
Unpacking fonts-dejavu-core (2.37-2build1) ...
Selecting previously unselected package fonts-dejavu-extra.
Preparing to unpack .../01-fonts-dejavu-extra_2.37-2build1_all.deb ...
Unpacking fonts-dejavu-extra (2.37-2build1) ...
Selecting previously unselected package libfontenc1:amd64.
Preparing to unpack .../02-libfontenc1_1%3a1.1.4-1build3_amd64.deb ...
Unpacking libfontenc1:amd64 (1:1.1.4-1build3) ...
Selecting previously unselected package libxkbfile1:amd64.
Preparing to unpack .../03-libxkbfile1_1%3a1.1.0-1build3_amd64.deb ...
Unpacking libxkbfile1:amd64 (1:1.1.0-1build3) ...
Selecting previously unselected package libxtst6:amd64.
Preparing to unpack .../04-libxtst6_2%3a1.2.3-1build4_amd64.deb ...
Unpacking libxtst6:amd64 (2:1.2.3-1build4) ...
Selecting previously unselected package libxxf86dga1:amd64.
Preparing to unpack .../05-libxxf86dga1_2%3a1.1.5-0ubuntu3_amd64.deb ...
Unpacking libxxf86dga1:amd64 (2:1.1.5-0ubuntu3) ...
Selecting previously unselected package x11-utils.
Preparing to unpack .../06-x11-utils_7.7+5build2_amd64.deb ...
Unpacking x11-utils (7.7+5build2) ...
Selecting previously unselected package libatk-wrapper-java.
Preparing to unpack .../07-libatk-wrapper-java_0.38.0-5build1_all.deb ...
Unpacking libatk-wrapper-java (0.38.0-5build1) ...
Selecting previously unselected package libatk-wrapper-java-jni:amd64.
Preparing to unpack .../08-libatk-wrapper-java-jni_0.38.0-5build1_amd64.deb ...
Unpacking libatk-wrapper-java-jni:amd64 (0.38.0-5build1) ...
Selecting previously unselected package libice-dev:amd64.
Preparing to unpack .../09-libice-dev_2%3a1.0.10-1build2_amd64.deb ...
Unpacking libice-dev:amd64 (2:1.0.10-1build2) ...
Selecting previously unselected package libsm-dev:amd64.
Preparing to unpack .../10-libsm-dev_2%3a1.2.3-1build2_amd64.deb ...
Unpacking libsm-dev:amd64 (2:1.2.3-1build2) ...
Selecting previously unselected package libxt-dev:amd64.
Preparing to unpack .../11-libxt-dev_1%3a1.2.1-1_amd64.deb ...
Unpacking libxt-dev:amd64 (1:1.2.1-1) ...
Selecting previously unselected package openjdk-11-jre:amd64.
Preparing to unpack .../12-openjdk-11-jre_11.0.24+8-1ubuntu3~22.04_amd64.deb ...
Unpacking openjdk-11-jre:amd64 (11.0.24+8-1ubuntu3~22.04) ...
Selecting previously unselected package openjdk-11-jdk:amd64.
Preparing to unpack .../13-openjdk-11-jdk_11.0.24+8-1ubuntu3~22.04_amd64.deb ...
Unpacking openjdk-11-jdk:amd64 (11.0.24+8-1ubuntu3~22.04) ...
Setting up libice-dev:amd64 (2:1.0.10-1build2) ...
Setting up libsm-dev:amd64 (2:1.2.3-1build2) ...
Setting up libxtst6:amd64 (2:1.2.3-1build4) ...
Setting up libxxf86dga1:amd64 (2:1.1.5-0ubuntu3) ...
Setting up openjdk-11-jre:amd64 (11.0.24+8-1ubuntu3~22.04) ...
Setting up libfontenc1:amd64 (1:1.1.4-1build3) ...
Setting up libxt-dev:amd64 (1:1.2.1-1) ...
Setting up fonts-dejavu-core (2.37-2build1) ...
Setting up fonts-dejavu-extra (2.37-2build1) ...
Setting up openjdk-11-jdk:amd64 (11.0.24+8-1ubuntu3~22.04) ...
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jconsole to provide /usr/bin/jconsole (jconsole) in auto mode
Setting up libxkbfile1:amd64 (1:1.1.0-1build3) ...
Setting up x11-utils (7.7+5build2) ...
Setting up libatk-wrapper-java (0.38.0-5build1) ...
Setting up libatk-wrapper-java-jni:amd64 (0.38.0-5build1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for libc-bin (2.35-0ubuntu3.4) ...
/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

Processing triggers for man-db (2.10.2-1) ...
Processing triggers for fontconfig (2.13.1-4.2ubuntu5) ...
tar: spark-3.4.0-bin-hadoop3.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Requirement already satisfied: findspark in /usr/local/lib/python3.10/dist-packages (2.0.1)

I import SparkSession from the pyspark.sql module, which I need to create a Spark session.

I also import the time module so I can measure how long certain operations take.

I create a Spark session using SparkSession.builder. This session allows me to interact with Spark and run SQL queries.

I set the application name to "SparkSQL" using .appName("SparkSQL"), which helps me identify my application.

I use .getOrCreate() to either get an existing Spark session or create a new one if none is currently running.

This Spark session is essential for running SQL queries and processing data with Spark.

In [19]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

I import SparkFiles from the pyspark module to work with files in Spark.

I set the url variable to the location of a CSV file stored in an AWS S3 bucket. The file contains the data I want to analyze, specifically the "home_sales_revised.csv" file.

This URL points to the dataset I will load into a DataFrame for further processing in Spark.

In [20]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

I add the CSV file from the specified URL to Spark's context using spark.sparkContext.addFile(url). This makes the file available to my Spark job.

I read the CSV file into a DataFrame named df using spark.read.csv(). I set header=True to treat the first row as column names and inferSchema=True to automatically determine the data types of each column.

I create a temporary view of the DataFrame using df.createOrReplaceTempView("home_sales"). This allows me to run SQL queries on the DataFrame as if it were a SQL table, with the name "home_sales".

This process lets me load the data into Spark and create a temporary SQL-like table for querying.

In [21]:
# 2. Create a temporary view of the DataFrame.
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), header=True, inferSchema=True)
df.createOrReplaceTempView("home_sales")

In [22]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- date: date (nullable = true)
 |-- date_built: integer (nullable = true)
 |-- price: integer (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- bathrooms: integer (nullable = true)
 |-- sqft_living: integer (nullable = true)
 |-- sqft_lot: integer (nullable = true)
 |-- floors: integer (nullable = true)
 |-- waterfront: integer (nullable = true)
 |-- view: integer (nullable = true)

- I use `spark.sql()` to write an SQL query that calculates the average price of four-bedroom houses sold each year.

- In the query, I first extract the year from the `date` column using `year(date)`, then calculate the average price of homes using `AVG(price)`.

- I use `ROUND(AVG(price), 2)` to round the average price to two decimal places.

- I filter the results to include only rows where `bedrooms = 4`.

- I group the results by `year(date)` to get the average price for each year and order the results by `year`.

- Finally, I store the result in the `result` variable and display it using `result.show()`.

In [23]:
# 3. Calculate the average price for a four-bedroom house sold per year, rounded to two decimal places.
result = spark.sql("""
    SELECT year(date) as year,ROUND(AVG(price), 2) as avg_price FROM home_sales
    WHERE bedrooms = 4
    GROUP BY year(date) ORDER BY year
""")

# Show the result
result.show()

+----+---------+
|year|avg_price|
+----+---------+
|2019| 300263.7|
|2020|298353.78|
|2021|301819.44|
|2022|296363.88|
+----+---------+

- I write an SQL query using `spark.sql()` to calculate the average price of homes built in each year that have 3 bedrooms and 3 bathrooms.

- In the query, I select `date_built` as `year` and calculate the average price of homes using `AVG(price)`.

- I round the average price to two decimal places with `ROUND(AVG(price), 2)`.

- I filter the results to include only homes with 3 bedrooms and 3 bathrooms by using `WHERE bedrooms = 3 AND bathrooms = 3`.

- I group the results by `date_built` to get the average price for each year the home was built, and I order the results by `date_built`.

- I store the query result in the `result` variable and display it with `result.show()`.

In [24]:
# 4. Calculate the average price of a home for each year it was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places.
result = spark.sql("""SELECT date_built as year,ROUND(AVG(price), 2) as avg_price FROM home_sales
WHERE bedrooms = 3 AND bathrooms = 3
GROUP BY date_built ORDER BY date_built""")

# Show the result
result.show()

+----+---------+
|year|avg_price|
+----+---------+
|2010|292859.62|
|2011|291117.47|
|2012|293683.19|
|2013|295962.27|
|2014|290852.27|
|2015| 288770.3|
|2016|290555.07|
|2017|292676.79|
+----+---------+

- I create an SQL query using `spark.sql()` to calculate the average price of homes built in each year that meet specific criteria.

- In the query, I select `date_built` as `year` and calculate the average price of homes using `AVG(price)`.

- I round the average price to two decimal places with `ROUND(AVG(price), 2)`.

- I filter the results to include only homes with 3 bedrooms, 3 bathrooms, 2 floors, and a living area of at least 2,000 square feet by using `WHERE` conditions.

- I group the results by `date_built` to get the average price for each year the home was built, and I order the results by `date_built`.

- I store the query result in the `result` variable and display it with `result.show()`.

In [25]:
# 5. Calculate the average price of a home for each year it was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places.
result = spark.sql("""SELECT date_built as year, ROUND(AVG(price), 2) as avg_price FROM home_sales
WHERE bedrooms = 3 AND bathrooms = 3
AND floors = 2 AND sqft_living >= 2000
GROUP BY date_built ORDER BY date_built""")

# Show the result
result.show()

+----+---------+
|year|avg_price|
+----+---------+
|2010|285010.22|
|2011|276553.81|
|2012|307539.97|
|2013|303676.79|
|2014|298264.72|
|2015|297609.97|
|2016| 293965.1|
|2017|280317.58|
+----+---------+

- I start by importing the `time` module to measure how long the query takes to run.

- I use `time.time()` to get the current time before running the query, storing it in `start_time`.

- I write an SQL query with `spark.sql()` to calculate the average price of homes for each `view` rating.

- I use `ROUND(AVG(price), 2)` to round the average price to two decimal places.

- I filter the results using `HAVING AVG(price) >= 350000` to include only view ratings with an average home price of $350,000 or more.

- I order the results by `view` in descending order using `ORDER BY view DESC`.

- I store the query results in the `result` variable and display them with `result.show()`.

- After running the query, I get the current time again using `time.time()` and store it in `end_time`.

- I calculate the runtime by subtracting `start_time` from `end_time` and print the result.

In [26]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating.
# Although this is a small dataset, determine the run time for this query.
import time

# Start timing
start_time = time.time()

# Run the query
result = spark.sql("""SELECT view, ROUND(AVG(price), 2) as avg_price FROM home_sales GROUP BY view
HAVING AVG(price) >= 350000 ORDER BY view DESC""")

# Show the results
result.show()

# End timing and print the runtime
end_time = time.time()
print("--- %s seconds ---" % (end_time - start_time))

+----+----------+
|view| avg_price|
+----+----------+
| 100| 1026669.5|
|  99|1061201.42|
|  98|1053739.33|
|  97|1129040.15|
|  96|1017815.92|
|  95| 1054325.6|
|  94| 1033536.2|
|  93|1026006.06|
|  92| 970402.55|
|  91|1137372.73|
|  90|1062654.16|
|  89|1107839.15|
|  88|1031719.35|
|  87| 1072285.2|
|  86|1070444.25|
|  85|1056336.74|
|  84|1117233.13|
|  83|1033965.93|
|  82| 1063498.0|
|  81|1053472.79|
+----+----------+
only showing top 20 rows

--- 0.9819729328155518 seconds ---

- I cache the `home_sales` temporary table using `spark.catalog.cacheTable("home_sales")`. This stores the table in memory, which can speed up future queries on this table.

- After caching, I print "Done" to confirm that the operation was completed.

In [27]:
# 7. Cache the the temporary table home_sales.
spark.catalog.cacheTable("home_sales")
print("Done")

Done

- I check if the `home_sales` table is cached by using `spark.catalog.isCached('home_sales')` and store the result in the variable `cached_or_not`.

- I use an `if` statement to see if `cached_or_not` is `True`.

- If it is `True`, I print "Yes! home_sales is cached" to confirm that the table is indeed cached.

- If it is `False`, I print "Sorry! home_sales is not cached" to indicate that the table is not cached.

In [28]:
# Check if the table 'home_sales' is cached
cached_or_not = spark.catalog.isCached('home_sales')

if cached_or_not:
  print(" Yes! home_sales is cached")
else:
  print("Sorry! home_sales is not cached")

 Yes! home_sales is cached

- I start by importing the `time` module to measure the runtime of the cached query.

- I use `time.time()` to get the current time before running the query, and store this in `start_time`.

- I run the SQL query on the cached `home_sales` table using `spark.sql()`. This query calculates the average price of homes for each `view` rating, rounding the average price to two decimal places and including only those with an average price of $350,000 or more. The results are ordered by `view` in descending order.

- I store the results of the cached query in `result_cached` and display them using `result_cached.show()`.

- After running the query, I get the current time again using `time.time()` and store it in `end_time`.

- I calculate the runtime by subtracting `start_time` from `end_time`, and print the runtime for the cached query.

In [29]:
# Using the cached data, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the uncached runtime.

import time

# Start timing for cached query
start_time = time.time()

# Run the query on the cached data
result_cached = spark.sql("""SELECT view, ROUND(AVG(price), 2) as avg_price FROM home_sales
GROUP BY view HAVING AVG(price) >= 350000 ORDER BY view DESC""")

# Show the results
result_cached.show()

# End timing and print the runtime for cached query
end_time = time.time()
print("--- Cached query runtime: %s seconds ---" % (end_time - start_time))

+----+----------+
|view| avg_price|
+----+----------+
| 100| 1026669.5|
|  99|1061201.42|
|  98|1053739.33|
|  97|1129040.15|
|  96|1017815.92|
|  95| 1054325.6|
|  94| 1033536.2|
|  93|1026006.06|
|  92| 970402.55|
|  91|1137372.73|
|  90|1062654.16|
|  89|1107839.15|
|  88|1031719.35|
|  87| 1072285.2|
|  86|1070444.25|
|  85|1056336.74|
|  84|1117233.13|
|  83|1033965.93|
|  82| 1063498.0|
|  81|1053472.79|
+----+----------+
only showing top 20 rows

--- Cached query runtime: 1.6546850204467773 seconds ---

- I start by importing the `time` module to measure the runtime of both cached and uncached queries.

- I use `time.time()` to capture the start time of the uncached query and store it in `start_time_uncached`.

- I run the SQL query on the uncached `home_sales` table using `spark.sql()`. This query calculates the average price of homes for each `view` rating, rounding to two decimal places and filtering for average prices greater than or equal to $350,000. The results are ordered by `view` in descending order.

- I store the results in `result_uncached` and display them with `result_uncached.show()`.

- After running the uncached query, I capture the end time using `time.time()` and store it in `end_time_uncached`.

- I calculate the runtime for the uncached query by subtracting `start_time_uncached` from `end_time_uncached`, and print the result.

- Next, I cache the `home_sales` table using `spark.catalog.cacheTable("home_sales")` to improve query performance for subsequent operations.

- I then measure the runtime for the cached query. I capture the start time with `time.time()` and store it in `start_time_cached`.

- I run the same SQL query on the cached `home_sales` table, store the results in `result_cached`, and display them using `result_cached.show()`.

- After running the cached query, I capture the end time with `time.time()` and store it in `end_time_cached`.

- I calculate the runtime for the cached query by subtracting `start_time_cached` from `end_time_cached`, and print the result.

- Finally, I uncache the `home_sales` table using `spark.catalog.uncacheTable("home_sales")` as a cleanup step to free up memory.

In [30]:
import time

# Measure runtime for uncached query
start_time_uncached = time.time()

# Run the query on uncached data
result_uncached = spark.sql("""
    SELECT view,
           ROUND(AVG(price), 2) as avg_price
    FROM home_sales
    GROUP BY view
    HAVING AVG(price) >= 350000
    ORDER BY view DESC
""")

# Show the results
result_uncached.show()

# End timing and print the runtime for uncached query
end_time_uncached = time.time()
print("--- Uncached query runtime: %s seconds ---" % (end_time_uncached - start_time_uncached))

# Cache the table
spark.catalog.cacheTable("home_sales")

# 2. Measure runtime for cached query
start_time_cached = time.time()

# Run the query on cached data
result_cached = spark.sql("""
    SELECT view,
           ROUND(AVG(price), 2) as avg_price
    FROM home_sales
    GROUP BY view
    HAVING AVG(price) >= 350000
    ORDER BY view DESC
""")

# Show the results
result_cached.show()

# End timing and print the runtime for cached query
end_time_cached = time.time()
print("--- Cached query runtime: %s seconds ---" % (end_time_cached - start_time_cached))

# Clean up by uncache the table (optional)
spark.catalog.uncacheTable("home_sales")

+----+----------+
|view| avg_price|
+----+----------+
| 100| 1026669.5|
|  99|1061201.42|
|  98|1053739.33|
|  97|1129040.15|
|  96|1017815.92|
|  95| 1054325.6|
|  94| 1033536.2|
|  93|1026006.06|
|  92| 970402.55|
|  91|1137372.73|
|  90|1062654.16|
|  89|1107839.15|
|  88|1031719.35|
|  87| 1072285.2|
|  86|1070444.25|
|  85|1056336.74|
|  84|1117233.13|
|  83|1033965.93|
|  82| 1063498.0|
|  81|1053472.79|
+----+----------+
only showing top 20 rows

--- Uncached query runtime: 0.4687016010284424 seconds ---
+----+----------+
|view| avg_price|
+----+----------+
| 100| 1026669.5|
|  99|1061201.42|
|  98|1053739.33|
|  97|1129040.15|
|  96|1017815.92|
|  95| 1054325.6|
|  94| 1033536.2|
|  93|1026006.06|
|  92| 970402.55|
|  91|1137372.73|
|  90|1062654.16|
|  89|1107839.15|
|  88|1031719.35|
|  87| 1072285.2|
|  86|1070444.25|
|  85|1056336.74|
|  84|1117233.13|
|  83|1033965.93|
|  82| 1063498.0|
|  81|1053472.79|
+----+----------+
only showing top 20 rows

--- Cached query runtime: 0.4913794994354248 seconds ---

I write the DataFrame `df` to Parquet format, using partitioning based on the `date_built` field.

- This is done with the `write.partitionBy("date_built")` method, which organizes the data into separate folders for each unique `date_built` value.

- The resulting Parquet files are saved to the specified path: `"/dbfs/path/to/home_sales_partitioned.parquet"`.

In [31]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
df.write.partitionBy("date_built").parquet("/dbfs/path/to/home_sales_partitioned.parquet")

- I read the Parquet data, which was partitioned by the `date_built` field, into a DataFrame named `df_parquet`.

- I use `spark.read.parquet()` to load the data from the path `"/dbfs/path/to/home_sales_partitioned.parquet"`.

- To verify that the data was loaded correctly, I display the schema of the DataFrame with `df_parquet.printSchema()`. This shows the structure of the DataFrame, including the column names and data types.

- I also show the first few rows of the DataFrame using `df_parquet.show()`. This helps to quickly check the content and confirm that the data is as expected.

In [32]:
# Read the Parquet data that is partitioned by 'date_built'
df_parquet = spark.read.parquet("/dbfs/path/to/home_sales_partitioned.parquet")

# Show the schema and the first few rows to verify
df_parquet.printSchema()
df_parquet.show()

root
 |-- id: string (nullable = true)
 |-- date: date (nullable = true)
 |-- price: integer (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- bathrooms: integer (nullable = true)
 |-- sqft_living: integer (nullable = true)
 |-- sqft_lot: integer (nullable = true)
 |-- floors: integer (nullable = true)
 |-- waterfront: integer (nullable = true)
 |-- view: integer (nullable = true)
 |-- date_built: integer (nullable = true)

+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|                  id|      date| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|date_built|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|2ed8d509-7372-46d...|2021-08-06|258710|       3|        3|       1918|    9666|     1|         0|  25|      2015|
|941bad30-eb49-4a7...|2020-05-09|229896|       3|        3|       2197|    8641|     1|         0|   3|      2015|
|c797ca12-52cd-4b1...|2019-06-08|288650|       2|        3|       2100|   10419|     2|         0|   7|      2015|
|0cfe57f3-28c2-472...|2019-10-04|308313|       3|        3|       1960|    9453|     2|         0|   2|      2015|
|d715f295-2fbf-4e9...|2021-05-17|391574|       3|        2|       1635|    8040|     2|         0|  10|      2015|
|a18515a2-86f3-46b...|2022-02-18|419543|       3|        2|       1642|   12826|     2|         0|  24|      2015|
|98f6a9ad-8870-474...|2022-05-07|136752|       2|        3|       1701|   10771|     2|         0|   5|      2015|
|7ac67498-b6f3-403...|2021-05-12|349318|       4|        3|       2417|   11304|     2|         0|  37|      2015|
|c9bfdb1c-2499-4e3...|2021-12-07|268874|       2|        2|       1537|   12177|     1|         0|  10|      2015|
|34c31a34-220d-469...|2019-02-06|409011|       3|        3|       2356|   10507|     1|         0|   1|      2015|
|be0ccb95-415d-411...|2020-05-15|425154|       4|        3|       2120|   14229|     2|         0|   4|      2015|
|e9031a86-1294-444...|2021-10-09|222322|       4|        3|       1928|   10510|     1|         0|  38|      2015|
|e6d7c2a7-596e-4ec...|2019-03-15|131201|       4|        3|       1633|   14655|     1|         0|  22|      2015|
|6683714b-3df7-454...|2022-02-01|333403|       4|        2|       2059|    9793|     2|         0|   4|      2015|
|00fc996f-508c-430...|2021-07-15|373139|       3|        3|       1763|   11363|     1|         0|  39|      2015|
|3d5545f8-bd3b-476...|2020-09-19|797862|       4|        6|       3494|   10385|     2|         0|  90|      2015|
|ec6d357c-2435-43e...|2019-05-28|401792|       3|        2|       1627|   10765|     1|         0|  50|      2015|
|c2be38fb-814a-403...|2020-03-20|352237|       3|        3|       2485|   10954|     2|         0|   6|      2015|
|9570de1f-5a74-45b...|2021-11-29|298453|       3|        2|       2222|   10634|     1|         0|   6|      2015|
|1baeff4f-fc00-489...|2020-12-17|152775|       3|        2|       1623|   13851|     1|         0|  41|      2015|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
only showing top 20 rows

 I create a temporary view named `home_sales_parquet` from the DataFrame `df_parquet`.

- This is done using `df_parquet.createOrReplaceTempView("home_sales_parquet")`, which allows me to run SQL queries against this view.

In [33]:
# Create a temporary view from the DataFrame
df_parquet.createOrReplaceTempView("home_sales_parquet")

- I start by measuring the runtime for a query executed on the Parquet data.

- I use `time.time()` to record the start time.

- I run the query on the temporary view `home_sales_parquet` using `spark.sql()`. The query calculates the average price of homes for each "view" rating, rounding the average price to two decimal places. It only includes homes with an average price greater than or equal to $350,000 and orders the results by view rating in descending order.

- I show the results with `result_parquet.show()`.

- I record the end time with `time.time()` and calculate the runtime by subtracting the start time from the end time.

- Finally, I print the runtime for the query on the Parquet data.

In [34]:
# 13. Using the parquet DataFrame, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the cached runtime.
start_time = time.time()

result_parquet = spark.sql("""SELECT view,ROUND(AVG(price), 2) as avg_price FROM home_sales_parquet
GROUP BY view HAVING AVG(price) >= 350000 ORDER BY view DESC""")

# Show the results
result_parquet.show()

# End timing and print the runtime for the query on the Parquet data
end_time = time.time()
print("--- Parquet query runtime: %s seconds ---" % (end_time - start_time))

+----+----------+
|view| avg_price|
+----+----------+
| 100| 1026669.5|
|  99|1061201.42|
|  98|1053739.33|
|  97|1129040.15|
|  96|1017815.92|
|  95| 1054325.6|
|  94| 1033536.2|
|  93|1026006.06|
|  92| 970402.55|
|  91|1137372.73|
|  90|1062654.16|
|  89|1107839.15|
|  88|1031719.35|
|  87| 1072285.2|
|  86|1070444.25|
|  85|1056336.74|
|  84|1117233.13|
|  83|1033965.93|
|  82| 1063498.0|
|  81|1053472.79|
+----+----------+
only showing top 20 rows

--- Parquet query runtime: 1.1789438724517822 seconds ---

- I uncache the `home_sales` temporary table using `spark.catalog.uncacheTable("home_sales")`.

- This command removes the cached data from memory, freeing up resources and ensuring that future queries will not use the cached version of the table.

In [35]:
# 14. Uncache the home_sales temporary table.
spark.catalog.uncacheTable("home_sales")

- I check if the `home_sales` table is still cached by using `spark.catalog.isCached("home_sales")`.

- I store the result in the variable `is_cached`.

- I then print whether the `home_sales` table is cached or not.

In [36]:
# 15. Check if the home_sales is no longer cached
is_cached = spark.catalog.isCached("home_sales")

# Print the result
print("Is 'home_sales' cached?:", is_cached)

Is 'home_sales' cached?: False

## What I learned from this module?
In this exercise, I learned how to manage and optimize data processing in Spark using Parquet files. The process began with reading CSV data into a DataFrame and then partitioning it by the `date_built` field before saving it in Parquet format. I created temporary tables from both CSV and Parquet data to run SQL queries. It included calculating average home prices based on various criteria. I evaluated the performance benefits of caching by comparing runtimes for queries on cached and uncached data. Finally, I learned how to uncache tables and verify their cache status.